<div class="main-div flex flex-row gap-2 pt-4
">
  <div class="w-[70%] bg-red-500 text-white">this is the games div</div>
  <div class=" bg-blue-500 w-[30%] text-white">this is the odds div</div>
</div>
