<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= csrf_meta_tag() %>
    <%= live_title_tag(assigns[:page_title] || "BettingSystem", suffix: " · Phoenix Framework") %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")} />
    <script
      defer
      phx-track-static
      type="text/javascript"
      src={Routes.static_path(@conn, "/assets/app.js")}
    >
    </script>
  </head>
  <body class = "bg-[#202a39]">


  <nav class = "flex justify-between text-white p-[30px]">
  <div class = ""> 
  <p class = "text-xl font-semibold poppins-bold">SportOdds</p>
</div>
  <div class = "poppins"> 
  <a  class = "m-2" href = "#">live</a>
    <a class = "m-2"  href = "#">betting</a>

  <a class = "m-2"  href = "#"> casion</a>

  <a class = "m-2"  href = "#"> lucky Drops</a>

  <a class = "m-2"  href = "#">live casino</a>
    <a  class = "m-2" href = "#">live promotions</a></div>
 
<div>     <%= render("_user_menu.html", assigns) %>
</div>

  </nav>

    <%= @inner_content %>
  </body>
</html>
